.video-popup {
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 850px;
  padding: 4px 32px;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
  color: #fff;
  .icon-wrapper {
    width: 64px;
    height: 64px;
    margin-right: 30px;
  }
  p {
    text-align: left;
  }
  .btn-wrapper {
    display: inline-block;
    div {
      border-radius: 4px;
      padding: 7px 29px;
    }
    .answer {
      display: inline-block;
      background: #1583f0;
      margin-right: 24px;
    }
    .hangup {
      display: inline-block;
      background: #f20f40;
    }
  }
}
